@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');


$navcolor:#202021;
$background:#090d1f;
$contastcolor:rgb(157, 255, 0);
$fontcolor:#ffffff;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

html{
    font-size: 20px;
}

body{
    background: $background;
}


.noti{
    z-index: 1000;
    position: absolute;
    right: 20px;
    top: 150px;
    width: 50%;
    padding: 5px 10px;
    border: 2px solid $background;
    border-radius: 10px;

    background-color: $contastcolor;
    // transform: translateX(110%);

    h1{
        color: $background;
        font-size: 1rem;
    }
}


header{
    z-index: 1000;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 50px;
    padding: 10px 30px;
    background: $navcolor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.6s ease;

    h1{
        color: $fontcolor;
        font-size: 1.4rem;
        font-weight: 500;
        text-transform: uppercase;
        cursor: pointer;
    }
}


.intro-heading{
    position: relative;
    top:60px;
    left: 0;
    width: 100%;

    text-align: center;

    h1{
        font-family: 'Tilt Prism', cursive;
        font-size: 4rem;
        color: $fontcolor;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
        font-weight: 300;
    }

    h2{
        font-size: 2.5rem;
        color: $fontcolor;
        font-weight: 300;
        letter-spacing: 0.2rem;
    }

    h3{
        font-size: 2rem;
        color: $fontcolor;
        font-weight: 300;
        letter-spacing: 0.2rem;
        font-family: 'Teko', sans-serif;
    }

    .details{
        padding: 30px 50px;
        p{
            font-size: 1.1rem;
            color: $fontcolor;
            letter-spacing: 0.1rem;
            text-align: justify;

            strong{
                font-size: 1.2rem;
            }
        }

        a{
            display: inline-block;
            margin-top: 40px;
            padding: 20px 40px;
            background: $navcolor;
            color: $fontcolor;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            font-size: 1.1rem;
            font-weight: 500;
            transition: all 0.3s ease;

            outline: none;
            border: 2px solid $fontcolor;
            border-radius: 20px;

            &:hover{
                background: $fontcolor;
                color: $navcolor;
            }
        }
    }
}

.form-container{
    position: relative;
    top: 100px;
    width: 100%;
    text-align: center;
    padding: 20px 300px;


    form{
        text-align: start;
        display: flex;
        flex-direction: column;
        gap: 10px;


        label{
            margin-top: 20px;
            font-size: 1.2rem;
            color: $fontcolor;
            letter-spacing: 0.1rem;

            span{
                color: rgb(157, 255, 0);
            }
        }

        input{
            width: 100%;
            padding: 10px 20px;
            background: $navcolor;
            color: $fontcolor;
            outline: none;
            border: 2px solid rgb(74, 74, 74);
            border-radius: 20px;
            font-size: 1.1rem;
            letter-spacing: 0.1rem;
            transition: all 0.3s ease;

            &:focus{
                border: 2px solid rgb(157, 255, 0);
            }
        }

        textarea{
            width: 100%;
            padding: 10px 20px;
            background: $navcolor;
            color: $fontcolor;
            outline: none;
            border: 2px solid rgb(74, 74, 74);
            border-radius: 20px;
            font-size: .8rem;
            letter-spacing: 0.1rem;
            transition: all 0.3s ease;
            max-width: 100%;
            min-width: 100%;
            height: 180px;

            &:focus{
                border: 2px solid rgb(157, 255, 0);
            }
        }

        select{
            -webkit-appearance: none;
            width: 50%;
            padding: 10px 20px;
            background: $navcolor;
            color: $fontcolor;
            outline: none;
            border: 2px solid rgb(74, 74, 74);
            border-radius: 20px;
            font-size: 1.1rem;
            letter-spacing: 0.1rem;
            transition: all 0.3s ease;

            &:focus{
                border: 2px solid rgb(157, 255, 0);
            }

            &.domains{
                width: 100%;
            }
        }

        h3{
            font-size: .8rem;
            color: rgb(157, 255, 0);
            letter-spacing: 0.1rem;
        }

        .buttons-form{
            margin-top: 20px;
            display: flex;
            justify-content: center;
            gap: 50px;
            align-items: center;

            button{
                padding: 10px 40px;
                background: $navcolor;
                color: $fontcolor;
                border: 1px solid $fontcolor;
                outline: none;
                border-radius: 20px;
                font-size: 1.1rem;
                letter-spacing: 0.1rem;
                transition: all 0.3s ease;
                cursor: pointer;

                &.primary{
                    background-color: #ffffff;
                    color: $navcolor;
                }

                &:hover{
                    background: rgb(157, 255, 0);
                    color: $navcolor;
                }

            }
        }
    }
}


















@media screen and (max-width: 1300px){
    .form-container{
        padding: 20px 150px;
    }

    
    

}



@media screen and (max-width: 1000px){
    html{
        font-size: 17px;
    }

    .form-container{
        padding: 20px 100px;
    }

}
    
@media screen and (max-width: 768px){
    html{
        font-size: 15px;
    }
    header{
        padding: 10px 20px;
    }

    .intro-heading{
        h1{
            font-size: 2.3rem;
            letter-spacing: .3rem;
        }
        
        h2{
            font-size: 1.3rem;
            letter-spacing: .2rem;
        }
        
        h3{
            letter-spacing: .1rem;
            font-size: 1.3rem;
        }

        .details{
            padding: 10px 20px;

            p{
                font-size: 1rem;
                letter-spacing: .05rem;
            }

            a{
                padding: 10px 20px;
                font-size: 1rem;
            }
        }
    }

    .form-container{
        padding: 20px 30px;
    }

}