@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html {
  font-size: 20px;
}

body {
  background: #090d1f;
}

header {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 10px 30px;
  background: #202021;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.6s ease;
}
header h1 {
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

.intro-heading {
  position: relative;
  top: 60px;
  left: 0;
  width: 100%;
  text-align: center;
}
.intro-heading h1 {
  font-family: "Tilt Prism", cursive;
  font-size: 4rem;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-weight: 300;
}
.intro-heading h2 {
  font-size: 2.5rem;
  color: #ffffff;
  font-weight: 300;
  letter-spacing: 0.2rem;
}
.intro-heading h3 {
  font-size: 2rem;
  color: #ffffff;
  font-weight: 300;
  letter-spacing: 0.2rem;
  font-family: "Teko", sans-serif;
}
.intro-heading .details {
  padding: 30px 50px;
}
.intro-heading .details p {
  font-size: 1.1rem;
  color: #ffffff;
  letter-spacing: 0.1rem;
  text-align: justify;
}
.intro-heading .details p strong {
  font-size: 1.2rem;
}
.intro-heading .details a {
  display: inline-block;
  margin-top: 40px;
  padding: 20px 40px;
  background: #202021;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1.1rem;
  font-weight: 500;
  transition: all 0.3s ease;
  outline: none;
  border: 2px solid #ffffff;
  border-radius: 20px;
}
.intro-heading .details a:hover {
  background: #ffffff;
  color: #202021;
}

.form-container {
  position: relative;
  top: 100px;
  width: 100%;
  text-align: center;
  padding: 20px 300px;
}
.form-container form {
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form-container form label {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #ffffff;
  letter-spacing: 0.1rem;
}
.form-container form label span {
  color: rgb(157, 255, 0);
}
.form-container form input {
  width: 100%;
  padding: 10px 20px;
  background: #202021;
  color: #ffffff;
  outline: none;
  border: 2px solid rgb(74, 74, 74);
  border-radius: 20px;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  transition: all 0.3s ease;
}
.form-container form input:focus {
  border: 2px solid rgb(157, 255, 0);
}
.form-container form textarea {
  width: 100%;
  padding: 10px 20px;
  background: #202021;
  color: #ffffff;
  outline: none;
  border: 2px solid rgb(74, 74, 74);
  border-radius: 20px;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  transition: all 0.3s ease;
  max-width: 100%;
  min-width: 100%;
  height: 180px;
}
.form-container form textarea:focus {
  border: 2px solid rgb(157, 255, 0);
}
.form-container form select {
  -webkit-appearance: none;
  width: 40%;
  padding: 10px 20px;
  background: #202021;
  color: #ffffff;
  outline: none;
  border: 2px solid rgb(74, 74, 74);
  border-radius: 20px;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  transition: all 0.3s ease;
}
.form-container form select:focus {
  border: 2px solid rgb(157, 255, 0);
}
.form-container form select.domains {
  width: 100%;
}
.form-container form h3 {
  font-size: 0.8rem;
  color: rgb(157, 255, 0);
  letter-spacing: 0.1rem;
}
.form-container form .buttons-form {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
}
.form-container form .buttons-form button {
  padding: 10px 40px;
  background: #202021;
  color: #ffffff;
  border: 1px solid #ffffff;
  outline: none;
  border-radius: 20px;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  transition: all 0.3s ease;
  cursor: pointer;
}
.form-container form .buttons-form button.primary {
  background-color: #ffffff;
  color: #202021;
}
.form-container form .buttons-form button:hover {
  background: rgb(157, 255, 0);
  color: #202021;
}

@media screen and (max-width: 1300px) {
  .form-container {
    padding: 20px 150px;
  }
}
@media screen and (max-width: 1000px) {
  html {
    font-size: 17px;
  }
  .form-container {
    padding: 20px 100px;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
  header {
    padding: 10px 20px;
  }
  .intro-heading h1 {
    font-size: 2.3rem;
    letter-spacing: 0.3rem;
  }
  .intro-heading h2 {
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
  }
  .intro-heading h3 {
    letter-spacing: 0.1rem;
    font-size: 1.3rem;
  }
  .intro-heading .details {
    padding: 10px 20px;
  }
  .intro-heading .details p {
    font-size: 1rem;
    letter-spacing: 0.05rem;
  }
  .intro-heading .details a {
    padding: 10px 20px;
    font-size: 1rem;
  }
  .form-container {
    padding: 20px 30px;
  }
}/*# sourceMappingURL=style.css.map */