{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <title>Recruitments-IEEE CIS</title>
</head>
<body>
    <header>
        <h1>IEEE CIS</h1>
    </header>
    <div class="intro-heading">
        <h1>Recruitments</h1>
        <h2> <strong> IEEE </strong> CINTEL Society</h2>
        <h3>September 2023</h3>
        <div class="details">
            <p>Welcome to the <strong>IEEE Computational Intelligence Association! </strong> We are a research-focused club dedicated to advancing knowledge in domains such as machine learning and the Internet of Things (IoT). Our society actively hosts and participates in various IEEE conferences, providing opportunities to display our cutting-edge research and engage with experts in the field. Join us as we explore the forefront of computational intelligence and unlock new possibilities in this exciting field.</p>
            <br>
            <p>As a <strong>Member</strong> of our society, you will have access to a vibrant community of researchers and practitioners passionate about computational intelligence. Our regular meetings feature engaging discussions led by industry experts, while workshops and hands-on sessions enhance your technical skills and expose you to the latest tools and technologies. Collaborate with fellow members on research projects and tap into the extensive resources and opportunities offered by the IEEE network, including publications, journals, and research grants. Together, let's push the boundaries of knowledge in machine learning, IoT, and beyond.</p>
            <br>
            <p>
                Whether you are an experienced researcher, a student, or a professional, the IEEE Computational Intelligence Society welcomes individuals from all backgrounds. By joining us, you become part of a supportive and inclusive community that values diversity and fosters personal and professional growth. Embark on this exciting journey with us, and let's shape the future of computational intelligence together.
            </p>

            <a href="{% url 'recruitmentForm' %}"> Register Now </a>
        </div>
    </div>
</body>
</html>